<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Here:</title>
</head>
<body ng-app="myApp">
<script src="resources/js/bootstrap.js"></script>

<div class="container" ng-controller="UserProfileController as ctrl" style="top: 30%;">
		<br/><br/><br/>
		<form class="form-horizontal" name="myForm" role="form" ng-submit="ctrl.submit()">
			<div class="form-group" ng-class="{'has-error': form.username.$dirty && form.username.$error.required}">
				<label for="username" class="col-sm-3 control-label" style="text-align: right;">Name:</label>
				<div class="col-sm-6">
					<input type="text" name="username" id="username" class="form-control" placeholder="Name"
						ng-model="ctrl.user.username" required />
						<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': form.city.$dirty && form.city.$error.required}">
				<label for="city" class="col-sm-3 control-label" style="text-align: right;">City/Town:</label> 
				<div class="col-sm-6">
					<input type="text" name="city" id="city" class="form-control" ng-model="ctrl.user.city" required 
						placeholder="City/Town"/>
					<span ng-show="form.city.$dirty && form.city.$error.required" class="help-block"></span>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': form.mobile.$dirty && form.mobile.$error.required}">
				<label for="mobile" class="col-sm-3 control-label" style="text-align: right;">Mobile :</label> 
				<div class="col-sm-6">
					<input type="text" name="mobile" id="mobile" class="form-control" ng-model="ctrl.user.mobile" required 
						placeholder="mobile number"/>
					<span ng-show="form.mobile.$dirty && form.mobile.$error.required" class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label for="gender" style="text-align: right;">Gender :</label>
					<label  class="radio-inline">
                    	<input type="radio" name="gender" value="Male" ng-model="ctrl.user.gender" checked="checked">Male
                    </label>
					<label  class="radio-inline">
                    	<input type="radio" name="gender" value="Female" ng-model="ctrl.user.gender">Female
                    </label>
                   </div>
			</div>
			<div class="form-group">
				<label for="useridentity" class="col-sm-3 control-label" style="text-align: right;">Registered as :</label> 
				<div class="col-sm-6">
					<label  class="radio-inline">
                    	<input type="radio" name="useridentity" value="Student" ng-model="ctrl.user.userrole" checked="checked">Student
                    </label>
					<label  class="radio-inline">
                    	<input type="radio" name="useridentity" value="Admin" ng-model="ctrl.user.userrole">Alumini
                    </label>
					<label  class="radio-inline">
                    	<input type="radio" name="useridentity" value="Extermal" ng-model="ctrl.user.userrole">External
                    </label>
                </div>
			</div>			
			<div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required}">
				<label for="password" class="col-sm-3 control-label" style="text-align: right;">Password:</label> 
				<div class="col-sm-6">
					<input type="password" name="password" id="password" class="form-control" ng-model="ctrl.user.password" required 
						placeholder="Password"/>
					<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<button type="submit" ng-disabled="form$invalid || ctrl.dataLoading" class="btn btn-info">Register</button>
					<button type="reset" class="btn btn-danger" ng-click="ctrl.reset()" >Reset</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>